<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos <%= Nombre %></title>
</head>
<body>
    <center> 
        <h1>Nombre: <%= Nombre %></h1>
        <h2>Edad: <%= Edad %></h2>
        <h2>Nss: <%= NSS %></h2>
        <h2>Tipo de Sangre: <%= TipoSangre %></h2>
    </center>
</body>
</html>